.list {
display: grid;
max-width: calc(100vw - 48px);
grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
grid-gap: 16px;
margin-top: 40px;
margin-bottom: 0;
padding: 0;
list-style: none;
margin-left: auto;
margin-right: auto;
}

.item {
    border-radius: 3px;
    object-fit: cover;
}

.image {
    margin: 0 auto;
}

.icon {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 100px;
    height: 150px;
    fill: lightgrey;
}

.name {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}